@import "tailwindcss";
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
body {
  top: 0 !important;
}

#google_translate_container select {
  background: #1f2937;
  color: #facc15;
  border: 1px solid #374151;
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease;
}

#google_translate_container select:hover {
  background: #111827;
  border-color: #fbbf24;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-in-out;
}

iframe.goog-te-menu-frame {
  z-index: 999999 !important;
}
